.section_article {
    /*padding: 3em 15em 0 15em;*/
    width: 60em;
    margin: 0 auto;
    padding-top: 4em;
    /*align-content: center;
    /*align-items: center;
    /*justify-items: center;

*/
}

